# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DrawTogether.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Alexa\Documents\Projects\DrawTogether\.idea\.idea.DrawTogether.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
