*{
  margin : 0;
  padding : 0;
}

.mouse-container {
  display: flex;
  width : fit-content;
  z-index: 20;
}

.mouse-container > *{
  background-color: rgba(255,255,255,0.5);
  padding : 0.5em;
  border: 1px solid black;
  border-radius: 0.7rem;
}
.mice{
  padding : 5px;
  font-weight: bolder;
}
.mice:before{
  content: "";
  position: absolute;
  top : 0;
  left : 0;
  width : 10px;
  height: 10px;
  border-top : 2px solid red;
  border-left : 2px solid red;
}


.name-container{
  z-index: 20;
}
.name-item{
  z-index: 30;
}

.name-item:hover .edit-name{
  display : inherit;;
}
.edit-name{
  display : none
}

.layer-container{
  background-color: rgba(255,255,255,0.5);
  z-index: 11;
  position: fixed;
  display: block;
  min-width: 50px;
  min-height: 50px;
  top: 0;
  right: 0;
}


.layer-item{
  display: block;
  width: 50px;
  min-height: 50px;
  cursor: pointer;
}

.layer-item:hover{
  border: solid 1px rgb(255,0,0)
}

.layer-img img{
  z-index: -1;
  position : fixed;
  top : 0;
  left : 0;
  overflow: auto;
}

.layer-controls{
  background-color: rgba(255,255,255,0.5);
  z-index: 10;
  display: flex;
  position : fixed;
  width : fit-content;
  height: fit-content;
  padding: 0.5rem;
  min-width : 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  border: solid 1px black;
}

.layer-controls > * {
  height: 2rem;
  margin : 0.5rem
}